<%= stylesheet_link_tag 'auth' %>


<div class="container-md d-flex justify-content-center rounded">

<div class="row">
  <div class="col-12 text-center mt-3">
    <%= image_tag "logo.png", alt: "My Logo", class: "logo", width: "100", height: "100" %>


    <h2>Forgot your password?</h2>
  </div>


<div class="col">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <p><%= f.label :email , class: "form-label" %></p>
      <p><%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%></p>
    </div>
    </div>
<div class="row">
      <div class="col text-center">
      <div class="actions">
        <%= f.submit "Send me password reset instructions" , class: "btn btn-dark mb-3" %>
  <%= render "devise/shared/links" %>
      </div>
  </div>
  <% end %>


</div>