<nav class="navbar bg-body-tertiary d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png' , class: "logo", width: "50", height: "50" %>
        <strong class="servi">
        Servi
        </strong>
        <strong class="book">
        Books
        </strong>
    </a>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <li><%= link_to "Books", books_path , class: "nav-link active"%></li>
        </li>
        <li class="nav-item">
            <li><%= link_to "Genres", genres_path , class: "nav-link active"%></li>
        </li>
        <li class="nav-item">
            <li><%= link_to "Authors", authors_path , class: "nav-link active"%></li>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <%= current_user.name%>
            </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/users/edit">Profile</a></li>
            <li><%= link_to "Admin users", admin_users_path , class: "nav-link active" if current_user.role_id = 3%></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete , class: "dropdown-item"%></li>
            </ul>
        </li>
    </ul>
  </div>
</nav>