<div class="w-100" style="background-color: beige;">
  <ul>Welcome
    <li>Email: <%= current_user.email %></li>
    <li>Name: <%= current_user.name %></li>
    <li>Phone: <%= current_user.phone %></li>
    <li>Address: <%= current_user.address %></li>
    <% if current_user.role %>
      <li>Role: <%= current_user.role.name %> (<%= current_user.inspect %>)</li>
    <% else %>
      <li>Role: No role assigned</li>
    <% end %>
  </ul> 

  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</div>

