<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Loan Date</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.book.title %></td>
        <td><%= loan.user.name %></td>
        <td><%= loan.loan_date %></td>
        <td><%= loan.due_date %></td>
        <td><%= loan.status.name %></td>
        <td>
          <%= link_to 'Show', loan %>
          <%= link_to 'Cancel Loan', cancel_loan_path(loan), method: 'put', form: { data: { turbo: true } } if loan.status.name == 'active' %>



        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Loan', new_loan_path %>
