<%= render 'shared/header_admin' if user_signed_in?  %>

<%= link_to "New Loan", new_loan_path, class: 'btn btn-light m-3 bi  bi-plus-lg text-dark' if current_user.role_id == 1 || 3%>


<div class="container p-4 mt-4">
  <h1 class="text-center">Loans</h1>


<div class="row">
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Loan Date</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.book.title %></td>
        <td><%= loan.user.name %></td>
        <td><%= loan.loan_date %></td>
        <td><%= loan.due_date %></td>
        <td><%= loan.status.name %></td>
        <td>
          <%= link_to 'Show', loan,class: 'btn btn-outline-info' %>
          <%= link_to 'Cancel Loan', cancel_loan_path(loan), method: 'put',class: 'btn btn-outline-danger' if loan.status.name == 'requested'  %>
          <%= link_to 'Acept Loan', acept_loan_path(loan) , method: 'put',class: 'btn btn-outline-danger' if loan.status.name == 'requested' %>
          <%= link_to 'Return Book', return_loan_path(loan) , method: 'put',class: 'btn btn-outline-danger' if loan.status.name == 'active' %>



        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
</div>
