<h1>Loan Details</h1>

<p>
  <strong>Book:</strong>
  <%= @loan.book.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @loan.user.name %>
</p>

<p>
  <strong>Loan Date:</strong>
  <%= @loan.loan_date %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @loan.due_date %>
</p>

<p>
  <strong>Returned Date:</strong>
  <%= @loan.returned_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @loan.status.name %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @loan.comments %>
</p>

<%= link_to 'Back', loans_path %>
<%= link_to 'Cancel Loan', cancel_loan_path(@loan), method: :patch if @loan.status.name == 'active' %>
