<%= render 'shared/header_admin' if user_signed_in?  %>

<%= link_to "New user", new_admin_user_path, class: 'btn btn-light m-3 bi  bi-plus-lg text-dark' if current_user.role_id == 1 || 3%>

<div class="container p-4 mt-4">
  <h1 class="text-center">Users</h1>
  <div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Role</th>
                <th></th>
                <th></th>


            </tr>
        </thead>
        <tbody>

            <% @users.each do |u| %>
                <tr>
                    <td>
                        <%= u.id%>
                    </td>

                    <td>
                        <%= u.name%>
                    </td>
                    <td>
                        <%= u.email%>
                    </td>
                    <td>
                        <%= u.phone%>
                    </td>
                    <td>
                        <%= u.address%>
                    </td>
                    <td>
                        <%= u.role.name%>
                    </td>

                    <td>

                                                <!-- Modal -->
                        <div class="modal fade" id="exampleModal<%=u.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                By deleting the account ALL YOUR DATA will be deleted
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <%= button_to 'Acept', admin_user_path(u), method: 'delete',class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' } if current_user.role_id == 1 || 3 %>
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%=u.id%>">
                        Delete
                        </button>
                      
                    </td>
                    <td>
                        <%= link_to 'Edit', edit_admin_user_path(u), class:'btn btn-outline-primary ' if current_user.role_id == 1 || 3%>
                    </td>

                </tr>
                  
  
            <% end %>

        </tbody>
    </table>

  </div>
</div>



